@import url(main.css);

.title-font{
    font-family: 'Italiana';
    font-weight: bold;
}
.second-font{
    font-family: 'Quicksand';
}

.nav-link:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

.bg-main{
    background-color: #F6F8D5 !important;
}

.nav-color{
    background-color: #98D2C0;
}

.bcolor{
    border-color: #F6F8D5 !important;
}

